:root{
	--mainColor: lightgrey;
	--secondaryColor: white;
	--mainText: #212121;
}

body{
	background-color: var(--mainColor) !important;
	color: var(--mainText) !important;
	font-family: sans-serif !important;
}

header {
	position: fixed;
	top: 0;
	display: table !important;
	table-layout: fixed;
	padding-left: 16px ;
	padding-right:16px ;
	transition: opacity .5s,padding-left .125s;
	width: 100%;
	min-width: 100%;
}

#logo{
	display: table-cell;
	max-width: 380px;
	vertical-align: middle;
}

#logo a{
	text-decoration: none;
	cursor: pointer;
}

#logo span{
	display: inline-block;
	max-width: 380px;
	/* overflow: hidden; */
	padding: 16px 12px;
	color: var(--mainText);
	font-size: 15pt;
	font-weight: 300;
	line-height: 1.333;
}

#nav-wrapper{
	min-width: 100%;
	display: table-cell;
	vertical-align: middle;
}

#nav-bar{
	text-align: right;
}

#nav-bar ul{
	font-size: 16px;
	list-style-type: none;

}

#nav-bar ul li{
	display: inline-block;
	/*overflow: visible;*/
	position: relative;
	text-align: left;
	transition: opacity 0ms 300ms;
	vertical-align: middle;
	padding: 10px 12px;
}

#nav-bar ul li a{
	color: var(--mainText);
	text-decoration: none;
	font-weight: 400;
	cursor: pointer;
}

#search-wrapper{
	display: table-cell;
	position: relative;
}

#profile-wrapper{
	text-align: center;
}

#profile-pic{
	width:150px;
	height: 150px;
	border-radius: 50%;
	margin-left: auto;
  	margin-right: auto;
}

ul{
	padding: 0;
    list-style-type: none;
}


.social-links ul, li{
	list-style-type:none;
	display: inline-block;
}

.social{
	width:20px;
	height: 20px;
}

.card{
	background-color: var(--secondaryColor) !important;
}
